@font-face {
  font-family: "Roboto";
  src:
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src:
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src:
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
:root {
  --basic-blue: #666666;
  --basic-blue-dark: #283136;
  --basic-blue-darker: #444444;
  --basic-black: #000000;
  --basic-black-neutral: rgba(0, 0, 0, 0.4);
  --basic-black-light: rgba(0, 0, 0, 0.3);
  --basic-black-lighter: rgba(0, 0, 0, 0.6);
  --basic-black-lightest: rgba(0, 0, 0, 0.15);
  --basic-black-dark: #4D4D4D;
  --basic-red: #FB565A;
  --basic-red-dark: #E74246;
  --basic-red-darker: #D7373B;
  --basic-white: #FFFFFF;
  --basic-white-light: rgba(255, 255, 255, 0.3);
  --basic-green: #00CA74;
  --basic-green-dark: #00BC6C;
  --basic-green-darker:  #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-dark: #EAB534;
  --basic-yellow-darker: #E5A722;
  --basic-grey: #E1E1E1;
  --basic-grey-light: #EEEEEE;
  --basic-grey-lighter: #DBDBDB;
  --basic-grey-lightest: #C1C1C1;
  --basic-grey-extra-lightest: #C4C4C4;
  --basic-grey-extra-light: #ABABAB;
  --basic-grey-dark: #DFDFDF;
  --basic-grey-darker: #D5D5D5;
  --bacic-grey-darkest: #D7DCDF;;
  --basic-neutral: rgba(0, 1, 1, 0.1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-blue-dark);
}
img {
  max-width: 100%;
  height: auto;
}

/*header*/

.header {
  background-color: var(--basic-grey-light);
}
.index__header {
  padding-top: 48px;
}
.center-l {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__inner {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  align-items: center;
}
.logo:hover {
  opacity: 0.7;
  cursor: pointer;
}
.logo:active {
  opacity: 0.3;
}
.main-nav {
 margin-left: 182px;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
}
.main-nav__list-item {
  position: relative;
}
.main-nav__link {
  text-decoration: none;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 13px 22px;
  display: block;
}
.main-nav__link:hover,
.header__link:hover {
  color: var(--basic-red);
}
.main-nav__link:active,
.header__link:active {
  color: var(--basic-black-light);
}
.main-nav__link_active::after {
  content: "";
  width: 73px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  top: 57px;
  left: 24px;
}
.main-nav__link_active {
  position: relative;
}
.header__link {
  text-decoration: none;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 19px 0 13px 41px;
  display: block;
  position: relative;
}
.header__link::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 29px;
}

/*slider*/
.slider {
  background-color: var(--basic-grey-light);
  margin-bottom: 80px;
}
.slider__inner {
  position: relative;
}
.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider__list-item {
  display: grid;
  grid-template-columns: 1fr 760px;
  align-items: stretch;
  display: none;
}
.slider__list-item_current {
  display: grid;
  grid-template-columns: 1fr 760px;
  align-items: stretch;
}
.slider__content {
  margin-top: 73px;
}

.slider__text {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 25px;
}
.slider__subtext {
  margin-top: 0;
  margin-bottom: 38px;
  width: 400px;
}
.button {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  cursor: pointer;
  border-radius: 3px;
  border: none;
}
.button:hover {
  background-color: var(--basic-red-dark);
}
.button:active {
  background-color: var(--basic-red-darker);
  color: var(--basic-white-light);
  box-shadow: inset 0px 3px 0px var(--basic-neutral);
}
.slider__button {
  padding: 17px 54px 15px 54px;
  display: inline-block;
  vertical-align: middle;
}
.slider__controls {
  position: absolute;
  bottom: 95px;
  left: 530px;
}
.slider__controls-button {
  border: none;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  position: relative;
}
.slider__controls-button:not(:last-child) {
  margin-right: 17px;
}
.slider__controls-button_current::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid var(--basic-grey-lightest);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}
.slider__img {
  margin-top: -7px;
}

/*promo*/

.promo {
  margin-bottom: 121px;
}
.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  position: relative;
  padding-right: 60px;
}
.promo-list::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--basic-grey-light);
  position: absolute;
  bottom: -80px;
}
.promo-list__item:first-child::before {
  content: "";
  width: 300px;
  height: 146px;
  display: block;
  margin-bottom: 26px;
  background-image: url("../img/promo-1.png");
  background-color: var(--basic-red);
}
.promo-list__item:nth-child(2)::before {
  content: "";
  width: 300px;
  height: 146px;
  display: block;
  margin-bottom: 26px;
  background-image: url("../img/promo-2.png");
  background-color: var(--basic-green);
}
.promo-list__item:last-child::before {
  content: "";
  width: 300px;
  height: 146px;
  display: block;
  margin-bottom: 26px;
  background-image: url("../img/promo-3.png");
  background-color: var(--basic-yellow);
}
.promo-list__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 16px;
}
.promo-list__text {
  margin-top: 0;
  margin-bottom: 32px;
  width: 260px;
}
.promo-list__button {
  padding: 17px 40px 15px 39px;
  width: 160px;
}
.promo-list__button--green {
  background-color: var(--basic-green);
}
.promo-list__button--green:hover {
  background-color: var(--basic-green-dark);
}
.promo-list__button--green:active {
  background-color: var(--basic-green-darker);
  color: var(--basic-white-light);
}
.promo-list__button--yellow {
  background-color: var(--basic-yellow);
}
.promo-list__button--yellow:hover {
  background-color: var(--basic-yellow-dark);
}
.promo-list__button--yellow:active {
  background-color: var(--basic-yellow-darker);
  color: var(--basic-white-light);
}

/*about*/

.about {
  margin-bottom: 125px;
}
.about__inner {
  display: grid;
  grid-template-columns: 660px 360px;
  column-gap: 140px;
  align-items: stretch;
  position: relative;
}
.about__inner::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--basic-grey-light);
  position: absolute;
  bottom: -73px;

}
.about__services-content {
  padding-top: 34px;
}
.about__services-text {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 34px;
}
.about__services-subtext {
  margin-top: 0;
  margin-bottom: 40px;
}
.about__services-desc {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
}
.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about__list-item {
  padding-left: 34px;
  position: relative;
}
.about__list-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  left: 0;
  top: 11px;
}
.about__list-item:not(:last-child) {
  margin-bottom: 24px;
}
.about__company-content {
  position: relative;
}
.about__company_text {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 245px;
  margin-bottom: 31px;
  padding-left: 16px;
}
.about__company_text::before {
  content: "";
  width: 360px;
  height: 208px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/logo.png");
  background-color: var(--basic-grey);
}
.about__dl {
  margin: 0;
  padding: 0;
  display: flex;
}
.about__dl-wrapper:not(:last-child) {
  margin-right: 21px;
}
.about__dt {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin-bottom: 11px;
}
.about__sup {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}
.about__dd {
  line-height: 18px;
  margin-left: 0;
}

/*partners*/

.partners {
  margin-bottom: 77px;
}
.partners__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--basic-grey-light);
  padding-bottom: 35px;
}
.partners__list-item {
  position: relative;
}
.partners__list-item:first-child {
  margin-left: 31px;
}
.partners__list-item:not(:last-child) {
  margin-right: 101px;
}
.partners__list-item:last-child {
  padding-left: 14px;
}
.partners__list-item::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey-extra-lightest);
  position: absolute;
  right: 0;
  top: 0;
}
.partners__list-item:first-child::after {
  top: -4px;
  left: 247px;
}
.partners__list-item:nth-child(2)::after {
  top: 12px;
  left: 247px;
}
.partners__list-item:nth-child(3)::after {
  top: -7px;
  left: 238px;
}
.partners__list-item:last-child::after {
  display: none;
}


.partners__list-logo {
  opacity: 0.2;
}
.partners__list-logo:hover {
  opacity: 1;
}
.partners__list-logo:active {
  opacity: 0.1;
}

/*footer*/

/*contacts*/

.contacts {
position: relative;
margin-bottom: 70px;
height: 416px;
background-color: var(--basic-grey);
background-image: url("../img/map.png");
background-size: cover;
}
.contacts__container {
  width: 319px;
  padding-top: 49px;
  padding-bottom: 47px;
  padding-left: 50px;
  box-sizing: border-box;
  background-color: var(--basic-white);
  position: absolute;
  left: 140px;
  top: 54px;
}
.contacts__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 26px;
}
.address,
.tel {
  line-height: 18px;
  color: var(--basic-blue);
}
.address {
  margin-top: 0;
  margin-bottom: 18px;
}
.tel {
  text-decoration: none;
  margin-bottom: 51px;
  display: block;
}
.contacts__button {
  padding: 17px 44px 15px 44px;
  text-decoration: none;
}
.map-marker-img {
  position: absolute;
  left: 848px;
  top: 70px;
  width: 227px;
  height: 196px;
}

/*socials*/
.footer-socials {
  margin-bottom: 68px;
}
.socials {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 24px;
  align-items: center;
}
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.social-list__item {
  position: relative;
}
.social-list__item:first-child .social-list__link::before {
  content: "";
  width: 27px;
  height: 15px;
  position: absolute;
  top: 35px;
  left: 28px;
  background-image: url("../img/vk-icon.svg");
}
.social-list__item:first-child .social-list__link:active::before {
  background-image: url("../img/vk-icon-op.svg");
}
.social-list__item:nth-child(2) .social-list__link::before {
  content: "";
  width: 12px;
  height: 22px;
  position: absolute;
  top: 30px;
  left: 34px;
  background-image: url("../img/fb-icon.svg");
}
.social-list__item:nth-child(2) .social-list__link:active::before {
  background-image: url("../img/fb-icon-op.svg");
}
.social-list__item:last-child .social-list__link::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 30px;
  left: 30px;
  background-image: url("../img/insta-icon.svg");
}
.social-list__item:last-child .social-list__link:active::before {
  background-image: url("../img/insta-icon-op.svg");
}
.social-list__item:not(:last-child) {
  margin-right: 9px;
}
.social-list__link {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-grey);
  display: block;
}
.social-list__link:hover {
  background-color: var(--basic-red-dark);
}
.social-list__link:active {
  background-color: var(--basic-red-darker);
}
.page-footer__text {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 10px;
}
.page-footer__subtext {
  line-height: 22px;
  color: var(--basic-blue-darker);
  margin: 0;
}

/*popup*/

.popup {
  width: 961px;
  height: 590px;
  position: fixed;
  top: calc(50vh - 590px/2);
  left: calc(50vw - 961px/2);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--basic-black-neutral);
  padding-top: 71px;
  padding-bottom: 84px;
  box-sizing: border-box;
  display: none;
}
.popup__inner {
  width: 760px;
  margin: 0 auto;

}
.popup__form {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
}
.popup__content {
  margin-top: 0;
  margin-bottom: 30px;
}
.popup__content-textarea {
  grid-column: 1/-1;
  margin-top: 0;
  margin-bottom: 50px;
}
.popup__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  margin-top: -8px;
  margin-bottom: 36px;
}
.popup__label {
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-black);
  display: block;
  margin-bottom: 11px;
}
.popup__input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-darker);
  width: 100%;
  padding: 16px 14px 16px 16px;
  box-sizing: border-box;
}
.popup__input_invalid {
  color: var(--basic-red-dark);
}
.popup__input::placeholder {
  opacity: 0.5;
}
.popup__button {
  width: 260px;
  padding: 17px 83px 15px 83px;
}
.close-cross-icon {
  border: none;
  background-color: transparent;
}
.close-cross-icon__img {
  position: absolute;
  left: 849px;
  top: 76px;
  opacity: 0.3;
}
.close-cross-icon__img:hover {
  opacity: 1;
}
.close-cross-icon__img:active {
  opacity: 0.1;
}
/*catalog-page*/

.catalog__header {
  padding-top: 48px;
  padding-bottom: 72px;
}
.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin-top: 0;
  text-align: center;
  margin-bottom: 55px;
  background-color: var(--basic-grey-light);
  padding-bottom: 108px;
}
.catalog__inner {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-bottom: 46px;
}
/*filter*/

.filter__price,
.filter__layout,
.filter__features {
  margin: 0;
  padding: 0;
  border: none;
}
.filter__price {
  margin-bottom: 53px;
}
.filter__layout {
  margin-bottom: 47px;
}
.filter__features {
  margin-bottom: 50px;
}
.range-filter {
  width: 260px;
}
.range-controls {
  height: 80px;
  background-color: var(--basic-grey-light);
  border-radius: 3px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
  position: relative;
}
.scale {
  height: 2px;
  background-color: var(--bacic-grey-darkest);
}
.bar {
  height: 2px;
  width: 70%;
  background-color: var(--basic-green);
}
.toggle {
  width: 4px;
  height: 4px;
  background-color: var(--basic-grey-extra-light);
  border: 8px solid var(--basic-white);
  box-shadow: 0px 2px 1px var(--basic-black-lightest);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 31px;
  cursor: pointer;
}
.toggle-min {
  left: 18px;
}
.toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls__label {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-blue-dark);
}
.price-controls__label-text {
  margin-right: 11px;
}
.price-controls__input {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-blue-dark);
  width: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border: none;
  background-color: var(--basic-grey-light);
  border-radius: 3px;
}
.filter__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 14px;
}
.filter__range-legend {
  margin-bottom: 48px;
}
.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.filter__label {
  line-height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 36px;
}
.filter__radio:checked+.input-radio {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  left: 0;
  top: -2px;
}
.filter__radio+.input-radio {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  left: 0;
  top: -2px;
}
.filter__radio:checked:hover+.input-radio {
  background-image: url("../img/radio-on-hover.svg");
}
.filter__radio:hover+.input-radio {
  background-image: url("../img/radio-off-hover.svg");
}
.filter__radio:checked:disabled+.input-radio {
  background-image: url("../img/radio-on-dis.svg");
}
.filter__radio:disabled+.input-radio {
  background-image: url("../img/radio-off-dis.svg");
}
.filter__radio:disabled~.radio-text {
  opacity: 0.1;
}
.filter__checkbox:disabled~.checkbox-text {
  opacity: 0.1;
}
.filter__checkbox:checked+.input-checkbox {
  position: absolute;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  left: 0;
  top: -2px;
}
.filter__checkbox+.input-checkbox {
   position: absolute;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  left: 0;
  top: -2px;
}
.filter__checkbox:checked:hover+.input-checkbox {
  background-image: url("../img/checkbox-on-hover.svg");
}
.filter__checkbox:hover+.input-checkbox {
  background-image: url("../img/checkbox-off-hover.svg");
}
.filter__checkbox:checked:disabled+.input-checkbox {
  background-image: url("../img/checkbox-on-dis.svg");
}
.filter__checkbox:disabled+.input-checkbox {
  background-image: url("../img/checkbox-off-dis.svg");
}
.filter__button {
  color: var(--basic-black);
  background-color: var(--basic-grey-light);
  padding: 17px 89px 15px 88px;
}
.filter__button:hover {
  background-color: var(--basic-grey-dark);
}
.filter__button:active {
  background-color: var(--basic-grey-darker);
  color: var(--basic-black-light);
}
/*sort*/

.sort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-bottom: 48px;
}
.sort__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}
.sort__inner {
  display: flex;
  align-items: center;
}
.sort__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  display: flex;
}
.sort__item:not(:last-child) {
  margin-right: 25px;
}
.sort__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-light);
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.sort__button:hover {
  color: var(--basic-black-lighter);
}
.sort__button:active {
  color: var(--basic-black);
}
.sort__button_active {
  color: var(--basic-black);
}

/*catalog-products*/
.icon-down,
.icon-up {
  border: none;
  background-color: transparent;
  padding: 0;
}
.icon-down {
  margin-right: 18px;
}
.icon-down__img,
.icon-up__img {
  opacity: 0.2;
}
.icon-down__img:hover,
.icon-up__img:hover {
  opacity: 0.6;
}
.icon-down__img:active,
.icon-up__img:active {
  opacity: 1;
}
.icon-down__img_active {
  opacity: 1;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  grid-row-gap: 26px;
}
.catalog__list-item {
  position: relative;
  background-color: var(--basic-grey);
}
.catalog__button {
  cursor: pointer;
}
.catalog__button::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;
  background-color: var(--basic-black-dark);
  opacity: 0.12;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.catalog__button:hover::before {
  opacity: 1;
}
.browser-buttons {
  display: flex;
  width: 62px;
  justify-content: space-between;
  position: absolute;
  top: 13px;
  left: 14px;
}
.browser-button {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
}
.hidden {
  display: none;
  padding-top: 26px;
  padding-bottom: 44px;
  text-align: center;
  position: absolute;
  top: 390px;
  bottom: 0;
  background-color: var(--basic-grey-light);
  overflow: auto;
}
.catalog__list-item:hover .hidden{
  display: block;
}
.hidden__link {
  display:inline-block;
  vertical-align: middle;
  margin-bottom: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.hidden__link:hover {
  color: var(--basic-red);
}
.hidden__link:active {
  opacity: 0.3;
}
.hidden__text {
  line-height: 18px;
  color: var(--basic-blue);
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: 52px;
  margin-right: 53px;
  overflow: auto;
}
.hidden__button {
  padding: 17px 72px 15px 72px;
}

/*pagination*/

.pagination {
  margin-bottom: 56px;
}
.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 397px;
}
.pagination__list-item:not(:last-child) {
  margin-right: 11px;
}
.pagination__list-link {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-grey-light);
  text-decoration: none;
  display: block;
  padding: 15px 20px 15px 17px;
  border-radius: 3px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 3px solid transparent;
}
.pagination__list-item:last-child .pagination__list-link{
  padding: 15px 77px 15px 73px;
}
.pagination__list-link:hover {
  background-color: var(--basic-grey-dark);
}
.pagination__list-link:focus {
  outline: none;
  border: 3px solid var(--basic-grey-lighter);
  background-color: var(--basic-white);
}
.pagination__list-link:active {
  background-color: var(--basic-grey-darker);
  color: var(--basic-black-light);
  box-shadow: inset 0px 3px 0px var(--basic-neutral);
}
.pagination__list-link_active {
  outline: none;
  border: 3px solid var(--basic-grey-lighter);
  box-sizing: border-box;
  background-color: var(--basic-white);
}







